@use 'partials/variables' as *;
@use 'partials/buttons';
@use 'partials/header';
@use 'partials/hero';
@use 'partials/cast';
@use 'partials/platforms';
@use 'partials/faq';
@use 'partials/footer';

body {
    background-color: $color-background;
    color: $color-text;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: $color-primary;
}

